div.login {
    width: 600px;
    background: FloralWhite;
    text-align: center;
}
.login h1 {
    font-size: 200%;
    color: black;
    font-family: "Times New Roman", Times, serif;
}
.loginbody {
    background: DimGrey
}

.container.widthswitcher{
    width: 720px;
}
div.lognav {
    background: FloralWhite;
}
div.logerrors {
    width: 670px;
    align: center;
    text-align: center;
}
.bodychange {
    background: DimGrey
}
.teachnav {
    font-size: 150%;
    background: FloralWhite;
}
.teachtable {
    border: 1px solid white;
    padding: 10px;
}
.teachhero{
    background: FloralWhite
}