{% extends "base.html" %}
{% block body %}
<html> <head>
<title></title>
</head>
<style>
h2{text-align:left;font-size:100%}
</style>
<div class="hero-unit teachhero">
<h1>About us</h1>
<br><br>
<body class="aboutbody">
<p>Iceblock is a website that sorts students into classes according to
the students' preferences. Teachers are able to make classes for their
stduents and add users. All the students have to do is submit their
preferences, and the website does the rest. If you have any questions
feel free to contact us. Contact information is below.</p>
  </div>
<br><br><br><br><br><br><br><br>

  <div class="hero-unit span6 aboutunit"
<b><h2>Contact information</h2></b>
<div class="contact">
<b>Person1:</b> Tel:111-111-1111 Email: xxx@gmail.com<br>
<b>Person2:</b> Tel:111-111-1111 Email: xxx@gmail.com<br>
<b>Person3:</b> Tel:111-111-1111 Email: xxx@gmail.com<br>
  </div>
  </div>

{% endblock body %}
