{% extends "base.html" %}
{% block body %}

<h1>To add more classes fill out the form below</h1>
<br><br><br><hr>
<form action="{% url 'add_class' %}" method="post">
{% csrf_token %}
Class name: <input type="text" id="name" name="name"/>      Teacher: <input type="text" id="teacher name" name="teacher name"/>
Available for grades: <input type="text" value="(ex. 6, 6-7, 6-8)" id="availability" name="availability"/> Maximum Capacity: <input type="text" id="max_cap" name="max_cap" /><br><br>
Description: <textarea rows="10" cols="117" id="description" name="description"/></textarea><br><br>
<br><br><br>
<input type="submit" value="Done" align="left" name="submit" />
<input type="submit" value="Save" align="right" name="submit" />
</form>

{% endblock body %}
