{% extends "base.html" %}
{% block body %}

<div class="hero-unit teachhero">
<h2><b> Classes being offered:</h2></b><br>
<table class="table table-bordered">
  <tr>
    <th>Class</th><th>Teacher</th><th>Capacity</th><th>Description</th></tr>
    {% for c in courses %}
    <tr>
      <td>{{ c.name }}</td><td>{{ c.teacher }}</td><td>{{ c.max_cap}}</td><td>{{ c.description }}</td>
	</tr>
    {% endfor %}
    </table>
    <a href="#PreferencesModal" role="button" class="btn btn-inverse" data-toggle="modal">Click to order preferences</a>
</div>

 <div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner teachnav">
  <ul class="nav">
    <li><a href="{% url 'logout_view' %}"role="button"">Logout</a></li>
  </ul>
  </div>
  </div>

<div id="PreferencesModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2>Order your preferences below</h2>
  </div>
  <div class="modal-body">
     <form id="order" name="order" action="{% url 'preferences' %}" method="post">{% csrf_token %}
    <table class="table">
      {% for l in labels %}
      <tr>
	<td>
	  {{ l }} Choice:
	</td>
	<td>
	  <select name={{ l }} form="order">
	    {% for i in courses %}
	    <option name="{{l}}" value="{{ i.name }}"/>{{ i.name }}</option>
	      {% endfor %}
	  </select>
	</td>
      </tr>
      {% endfor %}
      <br><br>
    </table>
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button type="submit" class="btn btn-primary">Savechanges</button>
      </div>
      </form>
    </div>
</div>
{% endblock body %}

